@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  font-size: 62.5%;
  text-align: center;
}

h1{
  font-size: 4.2rem;
}

h2 {
  font-size: 2.8rem;
  padding-top: 10px;
}
h3 {
  font-size: 2.4rem;
}
header {
  width: 100%;
  height: 250px;
  padding: 30px;

}
.cardContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  flex-flow: wrap;
}
.card {
  width: 30%;
  min-height: 250px;
  min-width: 200px;
  background: #fff;
  border-radius: 25px;
  margin-bottom: 50px;
  transition: 0.3s;
}
.cardHeader {
  height: 120px;
  padding: 50px 10px;
  background: linear-gradient(333deg, rgba(255,65,108,1) 0%, rgba(255,75,43,1) 100%);
  color: #fff;
  border-radius: 25px 25px 0 0;
}
.cardBody {
  padding: 30px 20px;
  text-align: center;
  font-size: 1.8rem;
}
.data {
  width: 100%;
  height: 50px;
}
.cardBody .btn {
  display: block;
  color: #fff;
  text-align: center;
  background: linear-gradient(to right, #ff416c, #ff4b2b);
  margin-top: 30px;
  text-decoration: none;
  padding: 10px 5px;
  border: none;
  border-radius: 10px;
}

.inner {
  background: rgb(9, 201, 153);
    padding: 1em;
    border-radius: 10px;
    width: 100%;
    clip-path: circle(10% at 90% 20%);
    transition: all .5s ease-in-out;
    cursor: pointer;
    &:hover {
      clip-path: circle(75%);
      background: #00B6FF;
  }
}

.card:hover {
  transform: scale(1.02);
  box-shadow: 0 0 20px -10px rgba(0, 0, 0, 0.5);
}

// Responsive Media quieries

@media screen and (max-width: 1000px) {
  header {
    height: 150px;
  }
  .card {
    width: 45%;
  }
}
@media screen and (max-width: 620px) {
  header {
    height: 250px;
  }
  .card {
    width: 80%;
  }
}
@media screen and (min-width: 403px) {
  header {
    height: 200px;
  }
}
